@model ElGatoMensajero.Models.usuarios
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
}

<div class="register-box-body">
    <h3 class="login-box-msg">Registro</h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group has-feedback">
            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre de Usuario" } })
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
        </div>

        
        @Html.Partial("_RegisterFields")

        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                        <div class="icheckbox_square-blue" style="position: relative;" aria-checked="false" aria-disabled="false">
                            <input style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;" type="checkbox">
                            <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; opacity: 0;"></ins>
                        </div>
                        Estoy de acuerdo con los <a href="@Url.Action("Terminos", "Home")">terminos</a>.
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
            </div>
            <!-- /.col -->
        </div>
    }

    <a href="@Url.Action("Login", "Home")" class="text-center">Ya tengo una cuenta</a>
</div>