@model IEnumerable<ElGatoMensajero.Models.sedes>

@{
    ViewBag.Title = "Listado de Sedes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Sedes</h2>

@if (Session["user_id"] != null && Session["user_rol"].ToString() == "administrador")
{
    <p>
        @Html.ActionLink("Añadir Sedes", "Create", "Sedes", new { @class = "btn btn-primary" })
    </p>
}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Provincia</th>
                <th>Localidad</th>
                <th>CP</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th colspan="@(Session["user_id"] != null && Session["user_rol"].ToString() == "administrador" ? "3" : "2")" class="table-action">Acción</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.provincia)</td>
                        <td>@Html.DisplayFor(modelItem => item.localidad)</td>
                        <td>@Html.DisplayFor(modelItem => item.cp)</td>
                        <td>@Html.DisplayFor(modelItem => item.calle), @Html.DisplayFor(modelItem => item.num)</td>
                        <td>@Html.DisplayFor(modelItem => item.telefono)</td>
                        <td class="table-botton"><a class="btn btn-warning" href="@Url.Action("Edit", "Sedes", new { id = item.id })"><i class="fa fa-edit"></i></a></td>
                        <td class="table-botton"><a class="btn btn-primary" href="@Url.Action("Details", "Sedes", new { id = item.id })"><i class="fa fa-building-o"></i></a></td>

                        @if (Session["user_id"] != null && Session["user_rol"].ToString() == "administrador")
                        {
                            if (item.id == 1)
                            {
                                <td class="table-botton"><a class="btn btn-danger"><i class="fa fa-lock"></i></a></td>
                            }
                            else
                            {
                                <td class="table-botton"><a class="btn btn-danger open-modal" data-id="@item.id" data-localidad="@item.localidad" data-toggle="modal" data-target="#modal-default"><i class="fa fa-trash-o"></i></a></td>
                            }
                        }

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="@(Session["user_id"] != null && Session["user_rol"].ToString() == "administrador" ? "7" : "6")" class="text-center bg-danger">No se han encontrado resultados.</td>
                </tr>
            }

        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Volver", "Index")
</div>

@if (Session["user_id"] != null && Session["user_rol"].ToString() == "administrador")
{
    <!-- Delete Modal -->
    <div class="modal fade" id="modal-default" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Borrar Sede</h4>
                </div>
                <div class="modal-body">
                    <p id="msg-delete"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                    <a id="btn-delete" class="btn btn-danger">Borrar</a>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    @section ViewSpecificJavascript
    {
    <script>
        $(document).ready(function () {
            $(".open-modal").on("click", function () {
                var link = "@Url.Action("Delete", "Sedes", new { id = "-1" })";
                link = link.replace("-1", $(this).data("id"));

                $("#msg-delete").html("¿Realmente deseas borrar la sede <b>" + $(this).data("localidad") + "</b>?");
                $("#btn-delete").attr("href", link);
            });
        });
    </script>
    }
}